---
import TecComponent from "../tecnology/TecComponent.astro";
import { Icon } from "astro-icon/components";
import data from "../../../samples/Projects.json";
---

<div
  class="absolute top-1/2 -translate-y-1/2 sm:flex-row w-full grid grid-cols-3 gap-6 duration-300 transition-all"
>
  {
    data.map((item, index) => (
      <div
        id={`tar-${index + 1}`}
        class="project xl:gap-4 min-w-full h-full gap-2 bg-white rounded-[.7em] shadow-md shadow-black/25 overflow-hidden transition-all duration-300"
      >
        <div class="xl:gap-4 flex flex-col justify-between h-full gap-2 py-3 px-4">
          <div class="flex flex-col items-start">
            <h1 class="xl:text-2xl sm:text-xl font-[MontserratMedium] text-xs text-[#5A3D29] tracking-widest uppercase">
              {item.title}
            </h1>
            <span class="xl:text-xs font-[OpenSansRegular] text-start text-[.6em] text-[#5A3D29] tracking-wider">
              {item.description}
            </span>
          </div>
          {/* <span class="xl:text-xs w-1/2 font-[OpenSansRegular] text-start text-[.6em] text-[#5A3D29] tracking-wider">
            {item.description}
          </span> */}
          <div class="flex flex-row gap-1.5 flex-wrap">
            {item.tecnologies.map((icon, index) => (
              <TecComponent id={`tec-${index + 1}`}>
                <Icon class="w-4 h-4" name={icon.icon} />
                <span class="font-[RobotoCondensedLight] text-[.8em] tracking-wide">
                  {icon.name}
                </span>
              </TecComponent>
            ))}
          </div>
        </div>
      </div>
    ))
  }
</div>
<script>
  import gsap from "gsap";
  const tl = gsap.timeline();
</script>
