---
import Coffe from "@/components/custom/icon/Coffe.astro";
import experience from "@/samples/Experience.json";
import Stroke from "../icon/Stroke.astro";
---

{
  experience.map((item, _index) => (
    <div class="experience relative max-w-full  flex flex-col px-8 py-4 ">
      <div class="absolute left-0 -top-6 flex flex-row gap-1 items-end bg-[#e9d7c0] pr-4">
        <Coffe className="invisible coffe" size="30px" />
        <div class="flex flex-row items-center gap-2 ">
          <span class="date z-50 invisible text-[#9B7D61]/40 mb-0 text-[.8em] font-[OpenSansSemiBold] tracking-wider">
            {item.dateTo} - {item.dateFrom}
          </span>
          <Stroke className="nvisible" width={150} />
        </div>
      </div>
      <div class="flex flex-col gap-4 items-start overflow-hidden">
        <div>
          <h1 class="uppercase font-[OpenSansBold] text-2xl text-[#5A3D29] tracking-widest company invisible">
            {item.company}
          </h1>
          <span class="inline-block border rounded-full bg-[#FED8A6] text-white font-[OpenSansSemiBold] px-4 py-0.5 uppercase text-[.8em] type invisible">
            {item.type}
          </span>
        </div>
        <div class="flex flex-col gap-1.5">
          {item.responsability.map((item) => (
            <div class="flex gap-2 items-start details">
              <img src="/svg/circle.svg" alt="icon" class="py-1" />
              <span class="font-[OpenSansLight] text-[.7em]">
                {item.detail}
              </span>
            </div>
          ))}
        </div>
      </div>
    </div>
  ))
}

<script>
  import gsap from "gsap";
  import DrawSVGPlugin from "gsap";
  gsap.registerPlugin(DrawSVGPlugin);
  const block_exp = document.querySelectorAll(".experience");

  block_exp.forEach((item, index) => {
    const coffe = item.querySelector(".coffe");
    const date = item.querySelector(".date");
    const company = item.querySelector(".company");
    const type = item.querySelector(".type");
    const list = item.querySelectorAll(".details");
    const path = item.querySelector("#path");

    console.log(path);

    // Definimos la timeline
    const tl = gsap.timeline();
    const master = gsap.timeline();

    tl
      .from(coffe, {
        autoAlpha: 0,
        delay: 0.5,
      })
      .from(
        date,
        {
          autoAlpha: 0,
        },
        "+=0.5"
      )
      .from(path, {
        autoAlpha: 0,
        drawSVG: 0,
        delay: 0.5,
      })
      .from(
        company,
        {
          autoAlpha: 0,
          duration: 1.2,
        },
        "+=0.5"
      )
      .from(
        type,
        {
          x: -100,
          duration: 0.8,
          autoAlpha: 0,
        },
        "<=0.3"
      ),
      list.forEach((item) => {
        tl.from(item, {
          opacity: 0,
          stagger: 0.2,
        });
      });

    master.add(tl, index * 5);
  });
</script>
