---
import Coffe from "@/components/custom/icon/Coffe.astro";
import experience from "@/samples/Experience.json";
---

{
  experience.map((item, index) => (
    <div
      id={`exp-${index}`}
      class="relative left-0 max-w-full border-t border-black flex flex-col px-8 py-4"
    >
      <div class="absolute left-0 -top-6 flex flex-row gap-1 items-end bg-[#e9d7c0] pr-4">
        <Coffe size="30px" />
        <span class="text-[#9B7D61]/40 mb-0 text-[.8em] font-[OpenSansSemiBold] tracking-wider">
          {item.dateTo} - {item.dateFrom}
        </span>
      </div>
      <div class="flex flex-col gap-4 items-start">
        <div>
          <h1 class="uppercase font-[OpenSansBold] text-2xl text-[#5A3D29] tracking-widest">
            {item.company}
          </h1>
          <span class="w-fit rounded-full bg-[#FED8A6] text-white font-[OpenSansSemiBold] px-4 py-0.5 uppercase text-[.8em]">
            {item.type}
          </span>
        </div>
        <div class="flex flex-col gap-1.5">
          {item.responsability.map((item) => (
            <div class="flex gap-2 items-start">
              <img src="/svg/circle.svg" alt="icon" class="py-1" />
              <span class="font-[OpenSansLight] text-[.7em]">
                {item.detail}
              </span>
            </div>
          ))}
        </div>
      </div>
    </div>
  ))
}
